html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100vw;
}

.infostyle {
    border: solid 1px;
    background-color: azure;
    border-radius: 10px;
    opacity: 0.8;
    padding: 5px;
    font-size: 15px;
    color: black;
}

.searchbox {
    z-index: 1000;
}